
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{%extends 'rindex.html'%}
<body>
  {%block main%}
<!--Main layout-->
<main style="margin-top: 58px;">
    <button type="button" class="btn bg-green" style="margin-right:30%;float:right ;background-color:lightgreen
    "
        data-toggle="modal" data-target="#exampleModal">
       
    
        <span class="bi-pencil" style="font-size:30px ;"></span>
      </button>
    
 <center> <table border="1" class="table table-hover shadow table-responsive" style="margin-right: 20px;width:500px">
    <tr>
        <th>id</th>
        <th>fname</th>
        <th>email</th>
        <th>expiriance</th>
        
        
        

    </tr>
    {% for x in student %}
    <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.username }}</td>
    <td>{{ x.email }}</td>
    
    <td>{{ x.exp }}</td>
    
    </tr>
    {% endfor %}
    </table>
       
    </table></center>

</main>
<div class="container mt-3" style="width: 700px;">
   
    
   
    <!-- Modal -->
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>add new departiment</h5>
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                  
                    <a href="#" data-toggle="tooltip"
                        title="" data-placement="right">
                        <form action="" method="post">
                            {%csrf_token%}
                            {%for l in lc%}
                            <label class="form-label">username</label>
                            <input type="text" class="form-control" name="uname" value="{{l.username}}">
                            <label class="form-label" >email</label>
                            <input type="email" class="form-control" name="email" value="{{l.email}}">
                            <label class="form-label">departiment</label>
                            <select name="depa" id="depa" class="form-control" >
                                {%for n in colage%}
                                <option value="{{n.name}}">{{n.name}}</option>
                                {%endfor%}
                            </select>
                            
                            <label class="form-label">phone</label>
                            <input type="tel" class="form-control" name="phone" value="{{l.phone}}">
                            
                            <label class="form-label">expiriance</label>
                            <input type="exp" class="form-control" name="exp" value="{{l.exp}}">
                            
                            <label class="form-label">age</label>
                            <input type="date" class="form-control" name="age">
                            <label class="form-label">gender</label>
                            
                                <select class="form-control" name="gender" >
                                <option value="male">male</option>

                                <option value="female">female</option>
                                <option value="costom">costom</option>
                            </select>
                            <label class="form-label">password</label>
                            <input type="password" class="form-control" name="password" value="{{l.password}}">
                            <label class="form-label">roll</label>
                            <select class="form-control" name="rol" >
                                <option value="male">head</option>

                                <option value="female">lectur</option>
                                
                            </select>
{%endfor%}
                            <button type="submit" class="btn btn-success">save</button>
                        </form>
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                        Close
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{%block sidebar%}
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-success">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
        >
<a href="#" class="list-group-item list-group-item-action py-2 ripple"
><i class="fas fa-chart-line fa-fw me-3"></i><span></span></a
></a></div></div></nav>
{%endblock%}

</body>
</html>