<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{%extends 'rindex.html'%}
<body>
  {%block main%}
<!--Main layout-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<main style="margin-top: 58px;">
    <button type="button" class="btn bg-green" style="float:right ;background-color:lightgreen
    "
        data-toggle="modal" data-target="#exampleModal">
       
    
        <span class="bi-plus-circle" style="font-size:30px ;">new </span>
      </button>
      <center><b class="btn btn-success">lists of departiment</b></center>
    
  <table border="1" class="table table-hover shadow">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>collage</th>
        <th>description</th>
        <th>delete</th>
        <th>update</th>
       
        

    </tr>
    {% for x in depart %}
    
    <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.name }}</td>
    <td>{{ x.colage }}</td>
    <td>{{ x.descr }}</td>
    <td><a href="{%url 'registeral:rdelete'  x.id %}" class="bi-calendar-x-fill"></a></td>
    <td><a href="{%url 'registeral:update' x.id %}" class="bi-pencil"></a></td>
    
    
    </tr>
    {% endfor %}
    </table>
       
    </table>

</main>
<div class="container mt-3" style="width: 700px;">
   
    
   
    <!-- Modal -->
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>add new departiment</h5>
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                  
                    <a href="#" data-toggle="tooltip"
                        title="" data-placement="right">
                        <form action="" method="post">
                            {%csrf_token%}
                            <label class="form-label">name</label>
                            <input type="text" class="form-control" name="name">
                            <label class="form-label">collage</label>
                            <select name="colage" class="form-control">
                            {%for n in col %}
                             <option value="{{n.name}}">{{n.name}}</option>
                            {%endfor%}
                        </select>
                           
                            <label class="form-label">discription</label>
                            <textarea class="form-control" name="descr"></textarea>
                            <button type="submit" class="btn btn-success">save</button>
                        </form>
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                        Close
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{%block sidebar%}
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-success">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
        >
<a href="#" class="list-group-item list-group-item-action py-2 ripple"
><i class="fas fa-chart-line fa-fw me-3"></i><span></span></a
></a></div></div></nav>
{%endblock%}


</body>
</html>