<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'main/css/bootstrap.css'%}">
</head>
<body>
    <div class="container-sm shadow" style="width: 400px;">
<form action="" method="post">
    {%csrf_token%}
    <label for="pass1" class="form-label">new password</label>
    <input type="password" class="form-control" name="pass1">
    <label for="pass1" class="form-label">comform password</label>
    <input type="password" class="form-control" name="pass2">
    <button class="btn btn-success">submit</button>
</form>
    </div>
</body>
</html>