{%extends 'index.html'%}

{%load static%}

<!doctype html>
<html lang="en">
<head>
    {%block main%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body><br><br><br><br><br><br>
    <div class="container-sm shadow-lg" style="width: 700px;">
       <table class="table table-striped table-hover">
        <th>id</th>
        <th>title</th>
        <th>sector</th>
        <th>
            data
        </th>
        <th>description</th>
        {%for p in cp%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{p.title}}</td>
            <td>{{p.sector}}</td>
            <td>{{p.dat}}</td>
            <td>{{p.discription}}</td>
        </tr>{%endfor%}
       </table>
       </div>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</body>
</html>{%endblock%}



