<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'index.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%block main%}
{%load static%}

<link rel="stylesheet" href="{%static 'main/css/bootstrap.css'%}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<body>
  


 <br><br><br><br>
<div class="container-sm shadow" style="width:400px" >
   
<form action="" method="post">
    {%csrf_token%}
   <select name="course" class="form-control">
    {%for n in cr%}
    <option value="{{n.id}}">{{n.name}}</option>
    {%endfor%}
   </select>
    <button class="bi-search">search</button>
    </form>
   
    <div class="container-sm shadow" style="width:400px">
<table class="table table-hover">
   
    <div class="bg-success">
      <th class="bg-success">course code</th>
      <th class="bg-success">ects</th>
      <th class="bg-success">gpa</th></div>
      <th class="bg-success">grade</th>
      <th class="bg-success">gpa</th></div>
      {%for n in cm%}
      <tr>
        <td>{{n.cid}}</td>
        <td>{{n.ect}}</td>
        <td>{{n.gpa}}</td>
        <td>{{n.grade}}</td>

      </tr>
      {%endfor%}
      <tr class="bg-warning"> 
        <td>total</td>
        <td>{{ect}}</td>
        <td>{{item}}</td>
        <td></td><td></td>
    </tr>

        <tr class="bg-danger"><td>cgpa</td><td>{{com}}</td><td></td><td></td><td></td></tr>
      
      
      

   </table>
</div>
</div>
<script>
    var depa=document.querySelector('#depa');
    depa.addEventListener('click',()=>{
        document.querySelector('#form').style=display='block';
    })
</script>
{%endblock%}
</body>
</html>