<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<body>
  


 <span class="btn btn-primary bi-plus-circle" style="float:right ;" id="depa">add new</span>
<div class="container-sm shadow" >
   <h2 class="table table-hover bg-info">you are in departiment page</h2>

<form action="" method="post" style="display: none; width:300px" id="form" class="shadow">
    {%csrf_token%}
    <label class="form-label">name of departiment</label>
    <input type="text" class="form-control" name="name">
    <label class="form-label">description</label>
     <textarea rows="2" cols="" class="form-control" name="descr" ></textarea>
    <label class="form-label">end year</label>
    <input type="text" class="form-control" name="year">
    
    <button type="submit" class="btn btn-success">save</button>


</form>
<form action="" method="post">
    <input type="text" id="search" placeholder="search samething..">
    <button class="bi-search">search</button>
    </form>
<table class="table table-hover">
    <tr>
       <th>id</th>
       <th>name</th>
       <th>description</th>
       <th>end year</th>
       <th>update</th>
       <th>delete</th>
       <th>add course</th>
    </tr>
    <tr>
       {%for n in dep%}
         <td>{{n.id}}</td>
         <td>{{n.name}}</td> 
         <td>{{n.descr}}</td>
         <td>{{n.yearend}}</td> 
         <td><a href="departup/{{n.id}}" class="bi-pencil"></a></td>
         <td><a href="departd/{{n.id}}" class="bi-calendar-x-fill"></a></td>
         <td><a href="" class="bi-plus-circle"></a></td>
        </tr>
{%endfor%}
   
   </table>
</div>
<script>
    var depa=document.querySelector('#depa');
    depa.addEventListener('click',()=>{
        document.querySelector('#form').style=display='block';
    })
</script>

</body>
</html>