<!DOCTYPE html>
<html lang="en">
<head>
    {%extends 'lindex.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block main%}
    {%load static%}
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
   <link rel="stylesheet" href="{%static 'main/css/bootstrap.css'%}"/>
   <br><br><br><br>
   <div class="container-sm shadow" style="margin-left:300px ;margin-right:150px;outline:3px solid lightgreen " >
    <table class="table table-hover ">
  
   <th>id</th>
  
   <td>massage</td>
   <td>replay</td>
   <th>send date</th>
   {%for ms in ms%}
   {{st.fname}}
   <tr>
    <td>{{ms.id}}</td>
    <td>{{ms.msg}}</td>
   <td>{{ms.rpy}}</td>
    <td>{{ms.dt}}</td>
   
    
   
   </tr> {%endfor%}
    </table>

    <form action="" method="post" >
        {%csrf_token%}
        <textarea name="msg" id="" cols="80" rows="10"></textarea>
       <button class="btn btn-primary bi-send">send</button>

    </form></div>
    <table class="table table-hover shadow">
        <th></th>
        <tr>
            <td></td>
        </tr>
    </table>
   </div>


    {%endblock%}
</body>
</html>