
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<body>
<!--Main layout-->
<div class="container-sm shadow">
<form action="" method="post">
    <input type="text" id="search" placeholder="search samething..">
    <button class="bi-search">search</button>
    </form>
    <button type="button" class="btn bg-green" style="float:right ;background-color:lightgreen
    "
        data-toggle="modal" data-target="#exampleModal">
       
    
       
      </button>
  <table  class="table table-hover shadow" style="margin-right: 20px;">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>ccode</th>
      <th>cridt</th>
      <th>ects</th>
      
      <th>add amerk</th>
      <th>approve</th>
      
  </tr>
  {% for x in st %}
  <tr>
  <td>{{ x.id }}</td>
  <td>{{ x.name }}</td>
  <td>{{ x.ccode }}</td>
  <td>{{ x.crdt }}</td>
  <td>{{ x.ects }}</td>
  
  <td><a href="{%url 'lectur:mark' x.id%}" class="bi-plus-circle"></a></td>
  <td><a href="{%url 'lectur:approve' x.id%}" class="bi-send"></a></td>
 
  
  </tr>
  
    {% endfor %}
    </table>
       
    </table>
</div>
</main>





</body>
</html>