<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{%load static%}
<link rel="stylesheet" href="{%static 'main/css/bootstrap.css'%}">
<body>
   <div class="container-sm shadow" style="width:500px">
    <form action="" method="post">
        {%csrf_token%}
        <label for="name" class="form-label">username</label>
        <input type="text" id="name" class="form-control" name="name">
        <label for="name" class="form-label">password</label>
        <input type="password" id="name" class="form-control" name="pass1">
        <button type="submit" class="btn btn-secondary">login</button>
    </form>
   </div>
</body>
</html>